.top-nav {
  align-items: center;
  background-color: hsla(0,0%,0%, .15);
  display: flex;
  font-size: var(--text-sm);
  justify-content: space-evenly;
  width: 100vw;
}


@media (min-width: 37.5em) {
  .top-nav {font-size: var(--text-md);}
}

@media (min-width: 56.25em) {
  .top-nav { font-size: var(--text-lg); }
}



.top-nav > * {
  margin: 0;
  padding: 1em 2em;
}
